.section-last-article {
  height: 60rem;
  padding: 0 14.1rem;
  margin-bottom: 7.2rem;

  .move-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    margin-bottom: 7.5rem;

    .icons {
      display: flex;
      justify-content: space-between;
      // margin: 0 auto;
      width: 50%;
      margin-top: 1.2rem;

      .dots {
        display: flex;
        width: 5.2rem;
        justify-content: space-between;
        align-items: center;

        button {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: none;
        }

        .dots__dot--active {
          background-color: aqua;
        }
      }
      div:last-child {
        width: 6rem;
        height: 2rem;
        display: flex;
        gap: 2rem;

        img {
          cursor: pointer;
        }
      }
    }
  }

  .slider {
    position: relative;

    .last-article {
      display: flex;
      position: absolute;
      top: 0;

      &__text-box {
        padding: 2rem;
        background-color: $light-gray;
        max-width: 36.8rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        h3 {
          font-size: 3.6rem;
          line-height: 6rem;
        }
        span {
          font-size: 2.4rem;
          letter-spacing: 0.2rem;
        }
        p {
          font-size: 1.4rem;
          line-height: 2.8rem;

          margin-bottom: 12.3rem;
        }

        button {
          align-self: flex-start;
        }
      }

      &__img-box {
        max-width: 71.6rem;
        max-height: 48.7rem;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .slider1 {
      // transform: translateX(0%);
    }

    .slider2 {
      // transform: translateX(100%);
    }

    .slider3 {
      // transform: translateX(200%);
    }
  }
}
