#container {
  .section-last {
    margin-left: 14.1rem;
    margin-bottom: 7.2rem;
    .section-last-container {
      display: grid;
      grid-template-columns: 34.8rem 1fr;
      max-width: 108.4rem;
      .last-content-box {
        background-color: #f7f7f7;
        padding-top: 2.4rem;
        padding-left: 4rem;
        span {
          font-size: 4rem;
          margin-bottom: 1.2rem;
        }
        p {
          font-size: 1.4rem;
          margin-bottom: 2.4rem;
        }
        .sign-up {
          max-height: 4.8rem;
          input {
            padding: 1.4rem 0 1.4rem 2rem;
            max-width: 23.9rem;
            width: 100%;
            height: 4.8rem;
          }
          button {
            max-width: 13.3rem;
            width: 100%;
            height: 4.8rem;
          }
        }
      }
    }
  }
}
