body {
}

header {
  font-size: 2em;
  color: $caption-color;
  text-align: center;
  background: $foreground-color url("../images/design/heading.png") center 20px
    no-repeat;
  padding: 60px 30px 30px;
  background-size: 160px;
  width: 90%;
  margin: 20px auto;
  position: relative;
}
